<!-- start custom footer snippets -->
<script>
window.onload = function () {
    var script = document.createElement('script');
    var firstScript = document.getElementsByTagName('script')[0];
    script.async = true;
    script.src = '{{'sw-register.js'|relative_url}}?v=' + Date.now();
    firstScript.parentNode.insertBefore(script, firstScript);
};
</script>

<script>
(function() {
    var cssFa = document.createElement('link');
    cssFa.href = 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css';
    cssFa.rel = 'stylesheet';
    document.getElementsByTagName('head')[0].appendChild(cssFa);
})();
</script>

<!-- end custom footer snippets -->
