# Ref:
#
# https://help.github.com/articles/configuring-jekyll/

timezone: Asia/Makassar

title:       AkhyarRH
description: Jurnal Online
url:         https://akhyar.js.org
repository:  akhyarrh/akhyarrh.github.io

locale: id_ID
logo: "/assets/logo.png"
author: akhyarrh
twitter:
  username: akhyarrh
  card: summary

webmaster_verifications:
  google: "sV2248YCZVyLu6nhz72znzNoCUhSfCqwiCEjUO-Kiu8"
  bing:   "E9A1908DCAA52A63BF7B5F67DB05745D"
  alexa:  "gXuVtj4bXDWiVB_ihCJijNBQNj8"
#  yandex: ""

permalink: /post/:title/

future: false

exclude:
  - CNAME
  - Gemfile*
  - LICENSE
  - Makefile
  - Rakefile
  - README.md
  - vendor

sass:
  style: compressed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      image: https://source.unsplash.com/800x600

# https://help.github.com/articles/configuring-jekyll-plugins/#default-plugins
plugins:
  #
  # Plugins below are enabled by default on github pages
  # I write them down here only for documentation purpose
  # more info see:
  # https://help.github.com/en/github/working-with-github-pages/about-github-pages-and-jekyll#plugins
  #
  #- jekyll-coffeescript
  #- jekyll-default-layout
  #- jekyll-gist
  #- jekyll-github-metadata
  #- jekyll-optional-front-matter
  #- jekyll-paginate
  #- jekyll-readme-index
  #- jekyll-titles-from-headings
  #- jekyll-relative-links

  - jekyll-seo-tag
  - jekyll-mentions
  - jemoji
  - jekyll-sitemap
  - jekyll-feed

kramdown:
  auto_ids:      true
  smart_quotes:  [lsquo,rsquo,ldquo,rdquo]

compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  ignore:
    envs: [development]

optional_front_matter:
  remove_originals: true

titles_from_headings:
  enabled:     true
  strip_title: true
  collections: true

jekyll-mentions: https://twitter.com
