siteEngine: "jekyll"
siteLocalDir: "/home/akhyar/project/akhyarrh.github.io"
siteDraftsDir: "_drafts/"
sitePostsDir: "_posts/"
siteImagesDir: "assets/img/"
siteUrl: "http://walutisme.com"
urlForCategories: "http://localhost:4000/categories.json"
urlForPosts: "http://localhost:4000/posts.json"
urlForTags: "http://localhost:4000/tags.json"
fileExtension: ".md"
newPostFileName: "{year}-{month}-{day}-{title}{extension}"
frontMatter: """
---
title: "<title>"
date: "<date>"
---
"""
imageTag: "![<alt>](<src>)"
textStyles:
  italic: before: "*", after: "*"
