---
layout: default
---

<header class="text-center">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</header>

<h2>Link</h2>
{% include nav.html %}

<h2>Catatan</h2>
<div itemscope itemtype="http://schema.org/Blog">
<ul>
	{% for post in site.posts %}
    <li itemprop="blogPost">
        <a href="{{ post.url }}" itemprop="name">{{ post.title }}</a>
		<time datetime="{{ post.date | date: "%Y-%m-%d" }}"
          itemprop="datePublished">
          {{ post.date | date: "%d-%m-%Y" }}
        </time>
    </li>
{% endfor %}
</ul>
</div>
