[context.production]
  command = "bundle exec rake build"
  publish = "_site/admin/"
  environment = { JEKYLL_ENV = "production" }

[context.deploy-preview]
  command = "bundle exec jekyll build --config _config.yml,_config_ci_test.yml"
  publish = "_site/"
