---
layout: page
title: Code Snippets
permalink: /snippets/
---

<div class="home">
  <h1 class="page-heading">Code Snippets</h1>
  <p class="page-description">A collection of useful code snippets across various programming languages.</p>

  <div class="snippet-list">
    {% for snippet in site.snippets %}
      <div class="snippet-item">
        <h2>
          <a class="snippet-link" href="{{ snippet.url | relative_url }}">{{ snippet.title }}</a>
        </h2>
        <p class="snippet-meta">
          <span class="snippet-date">{{ snippet.date | date: site.date_format }}</span>
          {% if snippet.language %}
            <span class="snippet-language">{{ snippet.language }}</span>
          {% endif %}
        </p>
        <p class="snippet-description">{{ snippet.description }}</p>
        {% if snippet.tags.size > 0 %}
          <div class="snippet-tags">
            {% for tag in snippet.tags %}
              <span class="snippet-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>