<meta http-equiv="Content-Security-Policy" content="
default-src 'self' https: ;
style-src 'self' cdn.jsdelivr.net ;
font-src cdn.jsdelivr.net ;
script-src 'self' www.google-analytics.com *.twitter.com *.instagram.com ;
img-src 'self' *.unsplash.com robohash.org ;
form-action staticman3.herokuapp.com formspree.io ;
frame-src *.youtube-nocookie.com *.twitter.com *.instagram.com ;
object-src 'none'
">

<meta content="no-referrer-when-downgrade" name="referrer">

<!--

TODO: make this better

Make CSP default to self
Try to avoid inline style/script

-->
