


<!-- Icons -->
<link rel="icon" type="image/png" href="{{ "/favicon-48x48.png" | relative_url }}" sizes="48x48" >
<link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relative_url }}" >
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" >
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}" >
<meta name="apple-mobile-web-app-title" content="{{ site.title }}" >
<link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}" >
