<!-- head -->
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="sitemap" type="application/xml" title="Sitemap • {{ site.name }}" href="/sitemap.xml">

  <!-- Icons -->
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">

  <!-- Style -->
  <link rel="stylesheet" href="/assets/all.css?{{ site.github.build_revision }}">
  
  {% feed_meta %}
  {% seo %}
<!-- /head -->
