<meta charset="utf-8">

<!-- CSP should included before any resource loaded -->
{% include CSP.html %}

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="preload" as="style" href="{{ '/assets/css/main.css' | relative_url }}"
onload="this.onload=null;this.rel='stylesheet'">

<link rel="stylesheet" media="print" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" onload="this.media='all'; this.onload=null;">

<noscript>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
</noscript>

<!--[if IE]>
  <link rel="stylesheet" href="{{ '/assets/css/old-ie-fix.css' | relative_url }}">
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
