{% capture sharelink %}{{ site.url }}{{ page.url }}{% endcapture %}

<p data-proofer-ignore><b>Share this post</b> :

<a class="share fb" href="https://www.facebook.com/sharer.php?u={{ sharelink }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-facebook-squared" alt="Share this post to Facebook"></span></a>

<a class="share line" href="https://line.me/R/msg/text/?{{ sharelink }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-line" alt="Share this post to Line"></span></a>

<a class="share telegram" href="https://telegram.me/share/url?url={{ sharelink }}&text={{ page.title }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-telegram" alt="Share this post to Telegram"></span></a>

<a class="share twitter" href="https://twitter.com/intent/tweet?url={{ sharelink }}&text={{ page.title }}&via=akhyarrh" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-twitter" alt="Share this post to Twitter"></span></a>

<a class="share whatsapp" href="whatsapp://send?text={{ sharelink }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-whatsapp" alt="Share this post to WhatsApp"></span></a>


<a class="share hackernews" href="https://news.ycombinator.com/submitlink?u={{ sharelink }}&t={{ page.title }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-hacker-news" alt="Share this post to Hacker News"></span></a>

<a class="share reddit" href="https://reddit.com/submit?url={{ sharelink }}&title={{ page.title }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-reddit-squared" alt="Share this post to Reddit"></span></a>

<a class="share tumblr" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ sharelink }}&title={{ page.title }}&caption="{{ page.excerpt | strip_html | strip_newlines }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-tumblr-squared" alt="Share this post to Tumblr"></span></a>

<a class="share email" href="mailto:?subject={{ page.title }}&body={{ sharelink }} - {{ page.excerpt | strip_html | strip_newlines }}" target="_blank" rel="nofollow noreferrer noopener"><span class="icon-mail-alt" alt="Send this post via mail"></span></a>

</p>
