.post-comments {
  padding-bottom: 1rem;
}

.comments-list {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin-bottom: 0.5rem;
  }
}

.commenter {
  display: block;

  margin-top: 0;
  margin-bottom: -0.3rem;

  font-size: 1.2rem;
  font-weight: bold;
}

.comment-meta {
  color: $gray-light;

  font-size: 0.9rem;
}

.comment-submit {
  padding: 1rem;

  border: 1px solid #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px
}

label {
  display: block;

  font-size: 0.9rem;
  font-weight: bold;

  span {
    font-weight: lighter;
    font-style: italic;
  }
}

input[type="email"],
input[type="text"],
input[type="url"],
textarea {
  display: inline-block;

  width: 100%;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.5rem;

  border: 1px solid $gray-light;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;

  font-size: 0.9rem;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &:focus {
    border-color: $brand-color;
    outline: 0;
  }
}

textarea {
  resize: vertical;

  font-family: Menlo, Monaco, "Courier New", monospace;
}

input[type="submit"] {
  padding: 0.5rem 1rem;

  color: #fff;
  border-width: 0;
  border-radius: 3px;
  background-color: $brand-color;

  &:focus,
  &:hover {
    background-color: lighten($brand-color, 5%);
  }
}
