// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  margin-bottom: 1rem;
  padding-top:    1rem;
  padding-bottom: 1rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;

  color: $gray-dark;

  a {
    color: $gray-dark;

    &:focus,
    &:hover {
      color: $gray-base;
    }
  }

  small {
    letter-spacing: 0;

    color: $gray-light;

    font-size: 75%;
    font-weight: 400;

    &:before {
      content: '— ';
    }
  }
}
