// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  overflow: hidden; // clearfix

  margin: 0 -1.5rem 1rem;

  text-align: center;

  color: $gray-light;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;

  padding: 1rem;

  border: solid #eee;
  border-width: 1px 0;

  .arrow {
    display: none;
  }

  &:first-child {
    margin-bottom: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:focus,
a.pagination-item:hover {
  background-color: #eee;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    float: left;

    width: 50%;

    border-width: 1px;

    .arrow {
      display: inline;
    }

    &:first-child {
      margin-bottom: 0;

      -webkit-border-top-left-radius: $base-radius;
          -moz-border-radius-topleft: $base-radius;
              border-top-left-radius: $base-radius;
      -webkit-border-bottom-left-radius: $base-radius;
          -moz-border-radius-bottomleft: $base-radius;
              border-bottom-left-radius: $base-radius;
    }
    &:last-child {
      margin-left: -1px;

      -webkit-border-top-right-radius: $base-radius;
          -moz-border-radius-topright: $base-radius;
              border-top-right-radius: $base-radius;
      -webkit-border-bottom-right-radius: $base-radius;
          -moz-border-radius-bottomright: $base-radius;
              border-bottom-right-radius: $base-radius;
    }
  }
}
