// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 1em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $gray-dark;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-meta {
  display: block;

  margin-top: -0.3rem;
  margin-bottom: 1rem;

  color: $gray-light;

  font-style: italic;
}


// Related posts
.related {
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;

  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      color: $gray-light;

      font-size: 75%;
    }

    a:hover {
      text-decoration: none;

      color: $brand-color;

      small {
        color: inherit;
      }
    }
  }
}
