// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.embed-container {
  position: relative;
  overflow: hidden;
  height: 0;
  margin-bottom: 1rem;
  //  padding-top: 1.5rem;
  padding-bottom: 56.25%;

  embed,
  iframe,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

// style for emoji images
.emoji {
  display: inline;
  margin: 0;
  vertical-align: middle;
}