$color-blossom: #03a9c9;
$color-fade: #dddddd;

$color-bg: #111111;
$color-bg-alt: #202020;

/* $color-text: #dedce5; */
$color-text: #ffffff;
$font-size-base: 2rem;

$font-family-base: Georgia, serif;
$font-family-heading: $font-family-base;

@import "main";
