---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #34b9db;
$text-color: #fff;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.list__item {
  .page__meta {
    font-size: $type-size-6;
  }
}

.archive__item-excerpt {
  font-size: $type-size-5;
}

.btn {
  $buttoncolors:
  (line, #00c300),
  (telegram, #2CA5E0),
  (whatsapp, #25D366),
  (hacker-news, #F0652F),
  (reddit, #FF4500),
  (tumblr, #36465D),
  (email, #D14836);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);

      &:visited {
        @include yiq-contrasted($color);
      }

      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }
    }
  }
}

pre {
  background-color: $code-background-color;
  border-radius: $border-radius;
  padding: 0.5rem;
  padding: 1ch;
}

p >,
a >,
li >,
figcaption >,
td > {
  code, kbd, samp {
    font-size: $type-size-5;
  }
}

div.highlighter-rouge,
figure.highlight,
table {
  font-size: $type-size-5;
}

.grid__item {
  .page__meta {
    font-size: $type-size-6;
  }
}

.pagination {

  li {

    span {
      display: block;
      margin-bottom: 0.25em;
      padding: 0.5em 1em;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      color: $muted-text-color;
      border: 1px solid mix(#000, $border-color, 25%);
      border-radius: 0;

      &:hover {
        color: $link-color-hover;
      }

      &.current,
      &.current.disabled {
        color: #fff;
        background: $primary-color;
      }

      &.disabled {
        color: rgba($muted-text-color, 0.5);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &:first-child {
      span {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }

    &:last-child {
      span {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
