img {
  height: auto;
}

.menu-icon {

  &::before {
    content: none;
  }

  .svg-icon {
    width: 1.25em;
    height: 1.25em;
    fill: $border-color-03;
  }
}

.icon-close {
  display: none;
}

#nav-trigger {
  ~ label[for=nav-trigger] {
    .icon-menu {
      display: inline;
    }
    .icon-close {
      display: none;
    }
  }

  &:checked {
    ~ label[for=nav-trigger] {
      .icon-menu {
        display: none;
      }
      .icon-close {
        display: inline;
      }
    }
  }
}
