// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  margin-bottom: 1rem;
  padding-top:    1rem;
  padding-bottom: 1rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;

  color: $gray-dark;

  text-align: right;

  @media (min-width: 30em) {
    text-align: center;
  }

  a {
    color: $gray-dark;

    &:focus,
    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }

  small {
    letter-spacing: 0;

    color: $gray-base;

    font-size: 75%;
    font-weight: 400;

    display: none;

    &:before {
      content: '— ';
    }

    @media (min-width: 30em) {
      display: inline;
    }
  }
}
