---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>

    {% include head.html %}

  </head>
  <body>

    <div class="container content">

      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.name }}</a>
          <small>
            <a href="mailto:akhyarrh@gmail.com">Contact</a> •
            <a href="http://github.com/akhyarrh">GitHub</a> •
            <a href="http://twitter.com/akhyarrh">Twitter</a> •
            <a href="http://last.fm/user/akhyarrh">Last.fm</a> •
            <a href="/archive">Archive</a> •
            <a href="/feed.xml">Feed</a>
          </small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <!-- {% raw %} <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> <a href="https://twitter.com/akhyarrh">akhyarrh</a>
        </small>
      </footer> {% endraw %} -->

    </div>

  </body>
</html>
