---
layout: default
---
{% assign months = "Januari|Februari|Maret|April|Mei|Juni|Juli|Agustus|September|Oktober|November|Desember" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = months[m] %}

<article>
    <header class="text-center">
        <h1>{{ page.title }}</h1>
        <time class="text-italic color-light"
          datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ page.date | date: "%d" }} {{ month }} {{ page.date | date: "%Y" }}
        </time>
    </header>

    <div class="page-content">
        {{content}}
    </div>

    <footer class="text-right">
        <a class="text-italic" href="https://twitter.com/intent/tweet?screen_name=akhyarrh">
          Komentar ?
        </a>
    </footer>
</article>

<!-- Archive post list -->
<aside class="related-posts">
    <h2>Recent Posts</h2>
    <ul>
        {% for post in site.related_posts limit:5 %}
        <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</aside>
