---
layout: default
---

<article class="post">
  <h1 class="post-title text-center">{{ page.title }}</h1>
  <p class="post-meta text-center"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></p>
  {{ content }}
</article>

<nav class="pagination">
  {% if page.next %}
    <a class="pagination-item previous" href="{{ page.next.url | prepend: site.baseurl }}" aria-label="{{ page.next.title }}" rel="prev">
      <span class="arrow">&larr;</span> Previous Post
    </a>
  {% else %}
    <span class="pagination-item previous">
      <span class="arrow">&larr;</span> Previous Post
    </span>
  {% endif %}
  {% if page.previous %}
    <a class="pagination-item next" href="{{ page.previous.url | prepend: site.baseurl }}" aria-label="{{ page.previous.title }}" rel="next">
      Next Post <span class="arrow">&rarr;</span>
    </a>
  {% else %}
    <span class="pagination-item next">
      Next Post <span class="arrow">&rarr;</span>
    </span>
  {% endif %}
</nav>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Other Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
