---
layout: default
---
{% assign months = "Januari|Februari|Maret|April|Mei|Juni|Juli|Agustus|September|Oktober|November|Desember" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign month = months[m] %}
<header>
  {% include nav.html %}
  <h1>{{ page.title }}</h1>
  <time class="small" datetime="{{ page.date | date: "%Y-%m-%d" }}">
    {{ page.date | date: "%d" }} {{ month }} {{ page.date | date: "%Y" }}
  </time>
</header>

<main>
<article>
  {{content}}
<aside>
    <h2>Catatan Lainnya</h2>
    <ul>
        {% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:4 %}
        {% for post in posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</aside>

</article>
</main>
