name: Build and test after push/PR on source branch

on:
  push:
    branches:
      - source
  pull_request:
    branches:
      - source

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 'ruby'
          bundler-cache: true

      - run: bundle exec jekyll build
        env:
          JEKYLL_ENV: production
          
      - run: bundle exec htmlproofer ./_site
